<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>
		Sample Servlet</description>
		<display-name>Eclipse_aggregate_gaeServlet</display-name>
		<servlet-name>Eclipse_aggregate_gaeServlet</servlet-name>
		<servlet-class>com.example.myproject.Eclipse_aggregate_gaeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eclipse_aggregate_gaeServlet</servlet-name>
		<url-pattern>/eclipse_aggregate_gae</url-pattern>
	</servlet-mapping>
</web-app>